@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";


/* LIGHT MODE (default) */
:root {
  --font-sans: var(--font-spline-sans);
  --font-mono: var(--font-spline-sans-mono);

  /* Color Palette - LIGHT */
  --primary: #137fec;                /* ana renk */
  --secondary: #ffffff;              /* arka plan */
  --tertiary: #f8f9fa;               /* offwhite */
  --softblue: #f0f4f8;               /* yumuşak mavi arka plan */

  --text-main: #18181b;
  --text-muted: #52525b;

  /* Body vars */
  --background: var(--secondary);
  --foreground: var(--text-main);
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-softblue: var(--softblue);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spline-sans);
}


hr {
  border-color: #e5e7e9;
}

.recharts-surface:focus {
  outline: 0px;
}

.recharts-layer {
  outline: 0px;
}

.recharts-curve.recharts-area {
  outline: 0px;
}

.recharts-wrapper:focus {
  outline: 0px;
}

g {
  outline: 0px;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
